{% extends "base.html" %}
{% block description %}Title: {{ article.title }}; Date: {{ article.date|strftime('%Y-%m-%d') }}; Author: {{ article.author }}{% endblock %}
{% block title %}{{ article.title }} — {{ SITENAME }}{% endblock %}
{% block header %}
        <div id="header">
            <h3>{{ article.title }}</h3>
        </div>
{% endblock %}
{% block content %}
            <div id="article">
                <a href="{{ SITEURL }}/">{{ BACK_TAG }}</a>
                <div id="article-body">
                    {{ article.content }}
                </div>
                {% if article.category %}
                <div>
                    Category:
                    <span>
                        <a href="{{ SITEURL }}/{{ article.category.url }}" rel="category">{{ article.category }}</a>
                    </span>
                </div>
                {% endif %}
                {% if article.tags %} 
                <div>
                    Tags:
                    {% for tag in article.tags %}
                    <span>
                        <a href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag }}</a>
                    </span>
                    {% endfor %}
                </div>
                {% endif %}
                <h4>Comments</h4>
                {% include "twitter.html" %}
                {% include 'disqus.html' %}
                {% include 'comments.html' %}
            </div>
{% endblock %}
