<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
	<meta name="description" content="{% block description %}HmyBmny Coding Blog Notes{% endblock %}">
	<meta name="author" content="{{ AUTHOR }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">
	{% block head %}{% endblock %}
</head>
<body>
    <div id="container">
        {% block header %}
        <div id="header">
            <h1>{{ SITENAME }}</h1>
            <p>{{ SITESUBTITLE }}</p>
        </div>
        {% endblock %}
        <div id="main">
            {% block content %}{% endblock %}
        </div>
        {% block footer %}
        <div id="footer">
            <p>
                <a href="{{ SITEURL }}/about">About</a>
                |
                <a href="https://github.com/HmyBmny">GitHub</a>
                .
            </p>
            <p>
                Design by
                <a href="mailto:me@hmybmny.com">HmyBmny</a>
                .
            </p>
            <p>Original articles on this site are CC <a href='https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode'>BY-NC-SA</a> licensed unless otherwise stated.</p>
        </div>
        {% endblock %}
    </div>
<!-- JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% include "analytics.html" %}
{% include "github.html" %} 
</body>
</html>
