{% extends "base.html" %}
{% block description %}All posts which refer to category {{ category }}{% endblock %}
{% block title %}{{ category }} — {{ SITENAME }}{% endblock %}
{% block header %}
        <div id="header">
            <h2>Category <small>{{category}}</small>
            </h2>
        </div>
{% endblock %}
{% block content %}
            <div id="content">
                {% for article in articles %}
                <p>
                    <span>{{ article.locale_date }}</span>
                    <a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a>
                </p>
                {% endfor %}
                <br />
                <a href="{{ SITEURL }}/">{{ BACK_TAG }}</a>
            </div>
{% endblock %}
