    {% if GITHUB_REPO and article.issueid %}
                Want to leave a comment? Visit <a href="https://github.com/{{ GITHUB_REPO }}/issues/{{article.issueid}}" target="_blank"> this post's issue page on GitHub</a> (you'll need a GitHub account.)
                <div id="comments">
                </div>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) {
  function loadComments(data) {
    for (var i=0; i<data.length; i++) {
      var cuser = data[i].user.login;
      var cuserlink = "https://github.com/" + data[i].user.login;
      var clink = "https://github.com/{{ GITHUB_REPO }}/issues/{{article.issueid}}#issuecomment-" + data[i].url.substring(data[i].url.lastIndexOf("/")+1);
      var cbody = data[i].body;
      var cavatarlink = data[i].user.avatar_url;
      var options = { year: 'numeric', month: 'short', day: 'numeric', hour:'2-digit', minute:'2-digit' };
      var cdate = new Date(data[i].created_at).toLocaleString("en", options);
      $("#comments").append("<div id='comment'><a href=\""+ cuserlink +'\"><img src="' + cavatarlink + '" width="32" height="32">' + "</a> &nbsp; <a href=\""+ cuserlink + "\">" + cuser + "</a> &nbsp; commented on &nbsp; <a href=\"" + clink + "\">" + cdate + "</a>" + "<p>" + cbody + " </p></div>");
    }
  }
  $.ajax("https://api.github.com/repos/{{ GITHUB_REPO }}/issues/{{article.issueid}}/comments", {
    headers: {Accept: "application/vnd.github.full+json"},
    cache: false,
    async: false,
    dataType: "json",
    success: function(msg){
      loadComments(msg);
   }
  });
});
</script>
    {% endif %}
